---
import LS from '../components/Auth/LS'
---
<html>
    <head>

    </head>
    <body>
      <div class="grid grid-cols-4  ">
        <div class="col-span-2  bg-black">
          <div class="flex justify-center pt-8 "> 
             <span class=" text-3xl font-bold text-blue-500 hover:text-yellow-500 transition-colors duration-300 flex justify-center mr-2">Likemind</span>
          </div >
        
            <LS client:load/>
        </div>
        <div class="col-span-2 ">enter image</div>
           </div>
    </body>
</html>
