---
import ChatWrapper from "../components/ChatFolder/ChatWrapper.tsx"
---

<html>


    <head>

    </head>
    <body >

    <ChatWrapper client:load/>
  
       
     
      
    </body>
</html>






