---
import Headbar from '../components/HeaderFolder/Headbar';
import SignUp from '../components/Auth/SignUp'
---





<html>
    <head>

    </head>
    <body>
        <!-- <Headbar/ client:load> -->
       <SignUp client:load/>
        
        <!-- <p> here is the home</p> -->
       
    </body>
</html>





