---
import Headbar from '../components/HeaderFolder/Headbar';
import SignUp from '../components/Auth/SignUp'
import Login from '../components/Auth/Login';
import LS from '../components/Auth/LS';

---





<html>
    <head>

    </head>
    <body >
    <Headbar client:load/>
     
      
    </body>
</html>





