---
import HomepageWrapper from "../components/HomePageFolder/Homepage.tsx"
---





<html>
    <head>

    </head>
    <body >
  
   <HomepageWrapper client:load/> 
    
     
      
    </body>
</html>





