---
import Counter from '../components/Counter'
import Headbar from '../components/HeaderFolder/Headbar';



---

<html>

    <head>

    </head>
    <body>
        <Headbar/ client:load>
        <p> here is the home</p>
    </body>
</html>






