---
import Headbar from '../components/HeaderFolder/Headbar';
import ProjectScrollBar from "../components/HomePageFolder/Project"
---





<html>
    <head>

    </head>
    <body >
        <div class=" grid-rows-5">
            <div class="row-span-1 bg-teal-400">
                <Headbar client:load/>
            </div>
            <div class="row-span-3 bg-red-400">
                <ProjectScrollBar client:load   />
            </div>
            <div class="row-span-1 bg-green-500">footer</div>
        </div>
    
    
     
      
    </body>
</html>





