---
import Jobs from '../components/JobsFolder/Jobs'
import Headbar from '../components/HeaderFolder/Headbar'

---

<html>
    <head>

    </head>
    <body>
        <Headbar client:load/> 
        <Jobs/ client:visible> 

    </body>
</html>

