---

import Portfolio from "../components/ProfileFolder/PortfolioFolder/Portfolio.tsx";
---


<html>
    <head>

    </head>
    <body >

    <Portfolio client:load/>
  
       
     
      
    </body>
</html>


