---
import Headbar from "../components/HeaderFolder/Headbar";
import Bio from "../components/ProfileFolder/Bio";
import UserBounties from "../components/ProfileFolder/UserBounties"
import SocialMedia from "../components/ProfileFolder/SocialMedia"

---

<html>
    <head>
    </head>
    <body class="grid grid-cols-4  gap-4 ">

       <div class=" col-span-4 ">
            <Headbar client:load />
        </div>
        
      <div class="col-span-3 rounded-lg shadow-lg">
        <Bio client:load/>
   
      </div>
      <div class="col-span-1 row-span-5  rounded-lg shadow-md">
        <UserBounties/>
      </div> 
     
    
          
     
            
  
    </body>
</html>
