---
import Headbar from "../components/HeaderFolder/Headbar";
import Profile from "../components/ProfileFolder/Profile";

---

<html>
    <head>
    </head>
    <body>
           <Headbar client:load/>
            <Profile/>
  
    </body>
</html>
