---
import ProfilePageWrapper from "../components/ProfileFolder/ProfilePageWrapper.tsx"
---


<html>
    <head>

    </head>
    <body >
  
    <ProfilePageWrapper/>
       
     
      
    </body>
</html>
