---

import Headbar from '../components/HeaderFolder/Headbar'
import Trending from '../components/TrendingFolder/Trending'
---


<html>
    <head>

    </head>
    <body>
        <Headbar client:load/>
        <Trending/>
    </body>
</html>